<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hrshare</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link th:href="@{/css/main.css}" rel="stylesheet" />
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Hrshare</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/create">Add New Employee</a>
            </li>
        </ul>
    </div>
</nav>

<div class="sticky-top"></div>
<div class="container-fluid">
    <main class="pt-3" role="main">
        <h1 class="mt-3 mb-4">Employee Information</h1>
        <div class="jumbotron bg-md-color-lighten-6">
            <table class="table">
                <caption>Employees in the company.</caption>
                <thead class="header-row">
                <tr>
                    <th class="col-md-1">ID</th>
                    <th class="col-md-2">Name</th>
                    <th class="col-md-2">Date of Birth</th>
                    <th class="col-md-3">Email</th>
                    <th class="col-md-2">Age</th>
                    <th class="col-md-4">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="employee : ${employees}">
                    <td class="col-md-1" th:text="${employee.id}" style="text-align:center;">1810</td>
                    <td class="col-md-2" th:text="${employee.name}" style="text-align:center;">Sukhpreet</td>
                    <td class="col-md-2" th:text="${employee.dateOfBirth}" style="text-align:center;">Singh</td>
                    <td class="col-md-3" th:text="${employee.email}" style="text-align:center;">panesar.pb08@gmail.com</td>
                    <td class="col-md-2" th:text="${employee.age}" style="text-align: center;">13</td>
                    <td class="col-md-4" style="text-align: center;">
                        <a th:href="@{/update/{id}(id=${employee.id})}" class="btn-sm btn-info text-white" role="button">DETAILS</a>
                        <a th:href="@{/delete/{id}(id=${employee.id})}" class="btn-sm btn-danger text-white" role="button">DELETE</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </main>
    <footer class="blockquote-footer text-center">
        Inspired by Sukhpreet Singh - <a href="https://github.com/panesar1810">GitHub</a>
    </footer>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>
